/* ion-toolbar {
    --background: #19422d;
    --color: white;
  
    --border-color: #f24aec;
    --border-width: 4px 0;
    --border-style: double;
  
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  } */


/*   .logo-img {
    height: 40px; 
    height: 40px; 
  }
   */

/*    .title-image {
    margin-top: 8px;
    height: 27px;
} */


/* ion-title {
    line-height: 40px;
    padding-left: 50px;
    background: url('../../assets/img/Acc_Logo.png') no-repeat;
} */


.logo-img {
    height: 40px; 
    height: 40px; 
    padding-right: 2rem;
  }
  

  @media (max-width: 767px) {
    .logo-img {
      height: 20px; 
      height: 20px; 
      
    }
  } 