<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-center">
      <ion-button expand="block" routerLink="/home" routerLinkActive="active">
        <ion-icon slot="start"  name="home-outline"></ion-icon>
        Home
      </ion-button>
      <ion-button expand="block"  routerLink="/home" routerLinkActive="active">
        <ion-icon slot="start"  name="notifications-outline"></ion-icon>
        Notification
      </ion-button>
      <ion-button expand="block" routerLink="/riskProfile" routerLinkActive="active">
        <ion-icon slot="start"  name="heart-outline"></ion-icon>
        Risk Profile
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
 