.bg-general {
  background-color: #931cf5 !important;

  }
  .alert-info {
    background-color: #931cf5 !important;
    border-color: #931cf5;
    color: white;
}
  .circle-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #931cf5 !important;;
    background-color:white; /* Replace with your desired background color */
   
  }
  ion-card-header+.card-content-md {
    padding-top: 20px;
}
  .fa-lg {
    font-size: 1.5em; /* Change the value to adjust the size */
   
  }
 

  @media (max-width: 768px) {
    ion-card-header+.card-content-md {
      padding-top: 12px;
  }
    /* Custom text size for screens smaller than 768px */
    .text-sm {
      font-size: 14px;
    }
    .circle-icon {
     
      width: 35px;
      height: 35px;
  
    }
    .fa-lg {
      font-size: 1em; /* Change the value to adjust the size */
    }
  }

